.appName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 7%;
  z-index: 999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 81, 147);
}

.appName h1 {
  font: normal bold 1.5rem 'Zilla Slab', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.weatherLogo {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  filter: invert(100%);
}

.onlyOne {
  display: flex;
  align-items: center;
  color: #fff;
}

.onlyOne li {
  margin-top: 5px;
}

.spinningGear {
  color: #fff;
  cursor: not-allowed;
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  position: relative;
}

.microphone {
  cursor: not-allowed;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .appName {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1024px) {
  .appName {
    margin: 0;
  }
}

@media screen and (min-width: 1300px) {
  .appName {
    margin: 0;
  }
}
